/************************************************  # # #  Normalize  # # #  ********************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto-Mono';
    src: url("../assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

.display-wrapper {
    display: grid;
    gap: 1rem;
    width: 100%;
    height: 100%;
}



/************************************************  # # #  Banner  # # #  ********************************************/

/* Banner-Layout */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/images/BackgroundBanner.png");
    border-bottom: 1px solid dimgrey;
    box-shadow: 0 3px 5px dimgrey;
    height: 140px;
    width: 100%;
}

/* Banner-Text */
.hero-text {
    font-variant-caps: small-caps;
    color: rgba(244, 242, 242, 0.921);
    letter-spacing: 0.3rem;
}

/* Haupttitel */
.title {
    font-size: 42px;
    margin-left: 20rem;
}

/* Untertitel */
.subtitle {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 25rem;
    margin-top: 0.5rem;
}


/************************************************  # # #  Menüleiste  # # #  ********************************************/

/*Navigationsleiste*/
.navbar {
    font-family: 'Roboto-Mono';
    background-color: #aeadad;
    border-bottom: 1px solid dimgrey;
    box-shadow: 0 3px 5px dimgrey;
    height: 28px;
}

/* Navigationsleiste mit Dropdown */
.navbar > ul {
    display: flex;
    justify-content: flex-start;
}

/*Navigationsleiste <> Menüpunkte*/
.navbar li {
    display: block;
    text-align: center;
    font-weight: bolder;
    color: #0c02028c;
    width: 200px;
}

.navbar li:hover {
    cursor: pointer;
    transition: 0.1s ease-in-out;  
}

/*Navigationsleiste <> Seitenlinks*/
.navbar a {
    display: block;
    color: #0c02028c;
    padding: 0.2rem;
    transition: background-color 0.2s ease;
}

.navbar a:hover {
    background-color: #0c02028c;
    font-weight: bolder;
    color: whitesmoke;
    height: 28px;

}

/*Dropdown Menü*/
.dropdown {
    position: relative;
}

.dropdown:hover {
    background-color: #aeadad;
    color: whitesmoke;
    font-weight: bold;
    height: auto;
    width: 200px;
}

/* Dropdown zunächst verstecken */
.dropdown-content {
    display: none;
    text-align: center;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #aeadad;
} 

/* Dropdown anzeigen beim Hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Menüpunkte */
.dropdown-content li > a {
    font-weight: lighter;
    color: whitesmoke;
    font-size: 12px;   
    transition: 0.1s ease-in-out;  
}

.dropdown-content li {
    width: 100%;
    height: auto;
}


/****************************************  # # #  Layout <> Hauptbereich  # # #  ********************************************/

/* Seiten-Layout */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto-Mono';
    gap: 1rem;
    height: 100vh;
    background-color: white;
}

/* Seiten-Titel */
.main-title {
    padding: 2rem 1rem 1.2rem 1rem;
    font-size: 30px;
    font-weight: 900;
}

/*Startseiten-Artikel*/
.main-article {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-weight: 350;
    padding: 0rem 1rem 1.2rem 1rem;
}

/* linke Spalte */
.left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 25%;
    height: 100vh;
}

/* mittlere Spalte */
.middle-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
}

.right-column {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 25%;
    height: 100vh;
}


/************************************************  # # #  News-Feed  # # #  ********************************************/

/* News-Feed-Layout */
.news-feed-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto-Mono';
    width: 250px;
    height: 500px; 
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 3px 5px dimgrey;
    background: rgb(226, 224, 224);
}

/* News-Feed-Kopfbereich */
.news-feed-header {
    position: relative;
}

/* News-Feed-Titel */
.news-feed-title {
    font-size: 26px;
    font-weight: 700;
    width: 228px;
    padding: 0rem 1.5rem 0.3rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 3px 5px dimgrey;
    color: #0c02028c;
    background-color: whitesmoke;
    font-variant-caps: small-caps;
}
/* News-Box */
.news-article-box {
    height: auto;
    width: 228px;
    padding: 0.3rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 1px 5px 7px lightgray;
    background-color: whitesmoke;
}

.news-article-box:hover {
    cursor: pointer;
    background-color: white;
    transition: 0.3s ease-in-out;  
}

/* News-Titel */
.news-title {
    font-size: 18px;
    font-weight: 500;
    color: #0c02028c;
}

/* News-Artikel */
.news-article-text {
    font-size: 14px;
    font-weight: 300;
}
