/************************************************  # # #  Normalize  # # #  ********************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto-Mono';
    src: url("../assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

.display-wrapper {
    display: grid;
    gap: 1rem;
    width: 100%;
    height: 100%;
}


/************************************************  # # #  Banner  # # #  ********************************************/

/* Banner-Layout */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/images/BackgroundBanner.png");
    border-bottom: 1px solid dimgrey;
    box-shadow: 0 3px 5px dimgrey;
    height: 140px;
    width: 100%;
}

/* Banner-Text */
.hero-text{
    font-variant-caps: small-caps;
    color: rgba(244, 242, 242, 0.921);
    letter-spacing: 0.3rem;
}

/* Haupttitel */
.title {
    font-size: 36px;
    margin-left: 15rem;
}

/* Untertitel */
.subtitle {
    font-weight: bolder;
    font-size: 18px;
    margin-left: 20rem;
    margin-top: 0.5rem;
}


/************************************************  # # #  Menüleiste  # # #  ********************************************/

.navbar {
    font-family: 'Roboto-Mono';
    background-color: #aeadad;
    border-bottom: 1px solid dimgrey;
    box-shadow: 0 3px 5px dimgrey;
    height: 28px;
}

/* Menüpunkte */
.navbar a {
    display: block;
    color: #0c02028c;
    padding: 0.2rem;
    transition: background-color 0.2s ease;
}

.navbar a:hover {
    background-color: #252525;
    font-weight: bolder;
    color: whitesmoke;
    height: 28px;
}

/* Dropdown-Menü-Layout */
.navbar > ul {
    display: flex;
    justify-content: flex-start;
}

.navbar li {
    display: block;
    text-align: center;
    font-weight: bolder;
    width: 200px;
}

.navbar li:hover {
    cursor: pointer;
    transition: 0.1s ease-in-out;  
}

.dropdown {
    position: relative;
}

.dropdown:hover {
    background-color: #aeadad;
    color: whitesmoke;
    font-weight: bold;
    height: auto;
    width: 200px;
}

/* Dropdown zunächst verstecken */
.dropdown-content {
    display: none;
    text-align: center;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #666666;
} 

/* Dropdown anzeigen beim Hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Menüpunkte */
.dropdown-content li > a {
    font-weight: lighter;
    color: whitesmoke;
    font-size: 12px;    
    transition: 0.1s ease-in-out;  
}

.dropdown-content li a {
    width: 100%;
    height: auto;
}


/************************************************  # # #  Hauptbereich  # # #  ********************************************/

/* Layout */
.content-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 1rem;
    width: 100%;
    height: 100vh;
    background-color: white;
}

/* linker Bereich */
.left-content {
    padding: 3rem;
}

.title-pic {
    width: 320px;
    height: 400px;
}

/* mittlerer Bereich */
.middle-content {
    padding: 3rem;
}